.clase {
    color : #bbffff;
    background-color: gray;
    letter-spacing: 10px;
    word-spacing: 15px;
    text-decoration: underline;
}

.azul {
    color : blue;
    font-size: 100px;
    text-decoration: line-through;
}

.rojo {
    color : red;
    font-family: cursive;
    font-weight: 800;
}

.rosa {
    color : pink;
    font-weight: bolder;
}
