/* Element selectors*/
h1,
h2 {
  color: darkblue;
}

h3 {
  color: #009985;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  color: rgb(151, 110, 21);
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

/* Id selectors*/
#key {
  width: 600px;
  height: 300px;
}

/* Class selectors*/
.class1 {
  background-color: #f00;
  width: 100%;
  height: 100%;
}

.class2 {
  background-color: #0f0;
  width: 50%;
  height: 50%;
}

.class3 {
  color: #00f;
}

/* All selector (wildcard) */
* {
  padding: 5px;
  margin: 5px;
}