/* Element selectors*/
h1,
h2 {
  color: steelblue;
}

h3 {
  color: coral;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  color: brown;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
}

/* Id selectors*/
#key {
  width: 600px;
  height: 300px;
}

/* Class selectors*/
.class1 {
  background-color: #f00;
  width: 100%;
  height: 100%;
}

.class2 {
  background-color: #0f0;
  width: 50%;
  height: 100%;
}

.class3 {
  background-color: #00f;
  width: 50%;
  height: 50%;
}

.class4 {
  color: white;
}

/* All selector */
* {
  padding: 5px;
  margin: 5px;
}